**/.*/.screenshots/*
**/.*/.local/*
**/.*/.settings/*
**/.*/.objects/*
**/.settings/**
**/.objects/**
**/.local/**
**/REFramework Documentation-EN.pdf
**/Exceptions_Screenshots/**

*.dll
*.db
*~*
**/.local/*

*design.json

# clean up files 
# Get-ChildItem .project -recurse | Remove-Item -Force -Recurse
# Get-ChildItem .local -recurse | Remove-Item -Force -Recurse
# Get-ChildItem .settings -recurse | Remove-Item -Force -Recurse
# Get-ChildItem .objects -recurse | Remove-Item -Force -Recurse
# Get-ChildItem .tmh -recurse | Remove-Item -Force -Recurse
# Get-ChildItem .screenshots -recurse | Remove-Item -Force -Recurse