
*.db
*.bak
.local/*
.settings/*
vajrang/Unattended Testing/.settings/*
vajrang/Week1Calculator_Reframework/.local/*
*.cache
Purnima/Week 3/SalesOrganisation/.local/AllDependencies.json
Purnima/Week 3/SalesOrganisation/.local/nuget.cache
Purnima/Week 3/SalesOrganisation/.local/PackageCache.json

Purnima/Week 3/SalesOrganisation/.local/*

