
*.db
*.bak
.local/*
.settings/*
vajrang/Unattended Testing/.settings/*
vajrang/Week1Calculator_Reframework/.local/*
*.cache
Purnima/Week 3/SalesOrganisation/.local/AllDependencies.json
Purnima/Week 3/SalesOrganisation/.local/nuget.cache
Purnima/Week 3/SalesOrganisation/.local/PackageCache.json

Purnima/Week 3/SalesOrganisation/.local/*

.local/*
**/.local/*
vajrang/xratesProject/.settings/Release/settings-82ca306a.json
vajrang/xratesProject/.settings/Release/settings-afad0842.json
vajrang/xratesProject/.settings/Release/settings-a1b2dac1.json
vajrang/xratesProject/.settings/Release/settings-9e9290da.json
vajrang/xratesProject/.settings/Release/settings-590bb27b.json
vajrang/xratesProject/.settings/Release/settings-5190454b.json
vajrang/xratesProject/.settings/Release/settings-1a5b880a.json
vajrang/xratesProject/.settings/Design/settings-afad0842.json
vajrang/xratesProject/.settings/Debug/settings-afad0842.json
vajrang/xratesProject/.settings/Debug/settings-a1b2dac1.json
vajrang/xratesProject/.settings/Debug/settings-9e9290da.json
vajrang/xratesProject/.settings/Debug/settings-82ca306a.json
vajrang/xratesProject/.settings/Debug/settings-590bb27b.json
vajrang/xratesProject/.settings/Debug/settings-5190454b.json
vajrang/xratesProject/.settings/Debug/settings-1a5b880a.json
*.json
Glory/FDA_API_Project/.objects/.metadata
Glory/FDA_API_Project/.objects/.type
vajrang/API Projecct/FDA_API_Project/.objects/.metadata
vajrang/API Projecct/FDA_API_Project/.objects/.type
Shivam/FDA_REF/.objects/.metadata
Shivam/FDA_REF/.objects/.type
Raju123/Day2 Project/.objects/.metadata
Raju123/Day2 Project/.objects/.type
